body{
    background-color: #e8e8e9;
}
button:hover{
    cursor: pointer;
}
i {
    pointer-events:none;
}
.calculator-frame {
    margin: 5rem auto;
    background-color: rgba(34, 37, 45, 0.89);
    height: 600px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.change-theme{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    height: 50px;
    width: 140px;
    background-color: rgba(73, 80, 95, 0.884);
    border-radius: 20px;
    gap: 0.7rem;
}
.light{
    background: transparent;
    border: none;
    height: 80%;
    width: 25%;
}
.dark{
    background: transparent;
    border: none;
    height: 80%;
    width: 25%;
}
.inbetwen-line{
    margin: 0 0;
    margin-left: 0.5rem;
    height: 80%;
    width: 5%;
    background-color: rgba(194, 196, 202, 0.144);
    border-radius: 5px;
}
#lighticon{
    font-size: 32px;
    margin-top: 2px;
    
    color: rgb(110,112,118);
}
#darkicon{
    font-size: 32px;
    margin-top: 2px;
    color: rgb(237,237,238);
}
.typed{
    
    text-align: center;
    display: inline;
    height: 40px;
    width: 290px;
    
    
    margin-bottom: -0.5rem;

}

#inputed{
    font-family: "Inter";
    font-weight: 400;
    color: rgb(234,235,236);
   font-size: 18px;
   margin: 0.5rem auto;
   text-align: right;
   
    
}
#operator{
    color: rgb(198,104,105);
}
#typing-area{
    
    text-align: center;
    display: inline;
    height: 40px;
    width: 290px;
    
    
    margin-bottom: 3rem;
    
}
#current-input{
    font-family: "Inter";
    font-weight: 800;
    color: rgb(234,235,236);
   font-size: 48px;
   margin: 0rem auto;
   text-align: right;
}
.input-frame-holder{
    
    height: 350px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(41, 45, 54);
    margin-bottom: -2rem;
}
.input-frame{
    display: grid;
    
    justify-items: center;
    align-items: center;
    column-gap: 0.6rem;
    row-gap: 0.6rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 250px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(41, 45, 54);
    margin: 1.4rem;
    
}
   


.input-button{
    background-color: rgb(29, 32, 37);
    border: transparent;
    border-radius: 10px;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 600;
    color: rgb(38, 217, 187);
    min-height: 55px;
    min-width: 55px;
    
}
.red {
    color: rgb(243,122,122);
}
.white {
    color: white;
}
